<?xml version="1.0" encoding="UTF-8"?>
<!--添加springmvc的依赖-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!-- 配置DispatcherServlet,负责处理所有的HTTP请求 -->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
<!--        指定了Spring MVC配置文件的位置-->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/web.xml</param-value>
        </init-param>
<!--        确保DispatcherServlet在应用启动时被加载-->
        <load-on-startup>1</load-on-startup>
    </servlet>
<!--    将DispatcherServlet映射到所有的URL模式（/），这意味着所有的HTTP请求都将由DispatcherServlet处理-->
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
<!--        <url-pattern>*.do</url-pattern>-->
    </servlet-mapping>
</web-app>